In [1]:
#importing dependencies
import pandas as pd
from sqlalchemy import create_engine

In [5]:
austin_data = "aac_intakes.csv"
austin_df = pd.read_csv(austin_data)
austin_df.head()

,age_upon_intake,animal_id,animal_type,breed,color,datetime,datetime2,found_location,intake_condition,intake_type,name,sex_upon_intake
0,8 years,A706918,Dog,English Springer Spaniel,White/Liver,2015-07-05T12:59:00.000,2015-07-05T12:59:00.000,9409 Bluegrass Dr in Austin (TX),Normal,Stray,Belle,Spayed Female
1,11 months,A724273,Dog,Basenji Mix,Sable/White,2016-04-14T18:43:00.000,2016-04-14T18:43:00.000,2818 Palomino Trail in Austin (TX),Normal,Stray,Runster,Intact Male
2,4 weeks,A665644,Cat,Domestic Shorthair Mix,Calico,2013-10-21T07:59:00.000,2013-10-21T07:59:00.000,Austin (TX),Sick,Stray,NaN,Intact Female
3,4 years,A682524,Dog,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,2014-06-29T10:38:00.000,2014-06-29T10:38:00.000,800 Grove Blvd in Austin (TX),Normal,Stray,Rio,Neutered Male
4,2 years,A743852,Dog,Labrador Retriever Mix,Chocolate,2017-02-18T12:46:00.000,2017-02-18T12:46:00.000,Austin (TX),Normal,Owner Surrender,Odin,Neutered Male

In [20]:
# Create a filtered dataframe from specific columns
austin_cols = ['animal_id', 'animal_type', 'breed', 'datetime', 'found_location', 'intake_condition', 'intake_type']
austin_transformed= austin_df[austin_cols].copy()

# Rename the column headers
austin_transformed = austin_transformed.rename(columns={"animal_id": "animal_id",
                                                        "animal_type": "animal_type",
                                                        "breed": "animal_breed", 
                                                        "datetime": "intake_date",
                                                        "found_location": "intake_location",
                                                        "intake_condition": "intake_condition", 
                                                        "intake_type": "intake_type"
                                                       })

# Clean the data by dropping duplicates and setting the index
austin_transformed.drop_duplicates("animal_id", inplace=True)
austin_transformed.set_index("animal_id", inplace=True)

austin_transformed.head()

,animal_type,animal_breed,intake_date,intake_location,intake_condition,intake_type
animal_id,,,,,,
A706918,Dog,English Springer Spaniel,2015-07-05T12:59:00.000,9409 Bluegrass Dr in Austin (TX),Normal,Stray
A724273,Dog,Basenji Mix,2016-04-14T18:43:00.000,2818 Palomino Trail in Austin (TX),Normal,Stray
A665644,Cat,Domestic Shorthair Mix,2013-10-21T07:59:00.000,Austin (TX),Sick,Stray
A682524,Dog,Doberman Pinsch/Australian Cattle Dog,2014-06-29T10:38:00.000,800 Grove Blvd in Austin (TX),Normal,Stray
A743852,Dog,Labrador Retriever Mix,2017-02-18T12:46:00.000,Austin (TX),Normal,Owner Surrender

In [21]:
#create a database connection
connection_string = "postgres:postgres@localhost:5432/ETL_project"
engine = create_engine(f'postgresql://{connection_string}')

In [22]:
#confirm tables in database
engine.table_names()

['austin_shelter', 'la_shelter']

In [25]:
#push data to Postgres
austin_transformed.to_sql(name='austin_shelter', con=engine, if_exists='append', index=True)